package ${package}.service;

import ${package}.api.bean.${className}Bean;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
	
	${className}Bean queryObject(${pk.attrType} ${pk.attrrname});
	
	List<${className}Bean> queryList(Map<String, Object> map);
	
	int queryTotal(Map<String, Object> map);
	
	void save(${className}Bean ${classname});
	
	void update(${className}Bean ${classname});
	
	void delete(${pk.attrType} ${pk.attrrname});
	
	void deleteBatch(${pk.attrType}[] ${pk.attrrname}s);
}
